@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

html {
  font-size: 12px;
}

body {
  font-family: "Raleway", sans-serif;
  color: #222;
  line-height: 1.5;
  color: white;
}

header, footer {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  color: black;
  text-align: center;
}

img {
  height: 250px;
}

section img {
  height: 200px;
}

header, footer {
  padding: 1em;
  background-color: #ddd;
}

main {
  border: 1px solid #e6a87a;
  padding: 1em;
  background-color: #e6a87a;
}

nav {
  border: 1px solid #9ea5be;
  padding: 1em;
  background-color: #9ea5be;
}


header ul li{
  display: inline;
  padding: 8px;
}


a:link {
    color: white;
}
a:visited {
    color: orange;
}
a:hover {
    color: red;
}
a:active {
    color: green;
}


wrapper {
  display: grid;
  grid-gap: 0px;
  background-color: #9ea5be;
  max-width: 960px;
}

wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 700px) {
  header {
    grid-column: col-start / span 12;
    grid-row: 1 / 4;
  }

  img {
    grid-column: col-start / span 2;
    grid-row: 3 / 4;
  }
  nav {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }

footer {
    grid-column: col-start / span 12;
    grid-row: 4 / 4;
  }
  nav {
    padding: 20px;
}
}

wrapper {
  display: grid;
  grid-gap: 0px;
  background-color: #e6a87a;
  max-width: 960px;
}

wrapper > * {
  grid-column: col-start / span 12;
}

@media (min-width: 700px) {
  header {
    grid-column: col-start / span 12;
    grid-row: 1 / 4;
  }

  main {
    grid-column: col-start 3 / span 8;
    grid-row: 2 / 4;
  }

footer {
    grid-column: col-start / span 12;
    grid-row: 4 / 4;
  }
  main {
    padding: 30px;
}
}

nav ul li{
    list-style-type: none;
    padding: 5px;
}


.dropbtn {
  background-color: #ddd;
  color: orange;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ccc;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #9ea5be;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: white;}
